# OS / IDE
.DS_Store
.idea/
.vscode/
Thumbs.db

# Composer
/vendor/
composer.lock

# Node (in case)
node_modules/

# PHPUnit
.phpunit.result.cache
coverage/

# Logs / Env
*.log
.env

# Archives
*.zip
*.tar
*.tar.gz
*.tgz
*.gz
.wp-env/
