<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/phpunit/bootstrap.php"
         colors="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>

